@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
}
