@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --thumb-color: #98a1ae;
  --track-color: #e1e7ef;
}

:root:has(.dark) {
  --thumb-color: #141c43;
  --track-color: #020617;
}

html,
body,
#root {
  min-height: 100%;
  scrollbar-color: var(--thumb-color) var(--track-color);


  /* Safari scrollbar styles */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--thumb-color);
  }
}

.bg-image {
  background-color: hsla(214, 31%, 91%, 1);
  background-image: radial-gradient(at 88% 67%, hsla(266, 100%, 57%, 0.119) 0px, transparent 70%),
    radial-gradient(at 52% 0%, hsla(60, 100%, 50%, 0.088) 0px, transparent 50%),
    radial-gradient(at 100% 29%, hsla(279, 100%, 50%, 0.012) 0px, transparent 50%),
    radial-gradient(at 26% 64%, hsla(199, 100%, 50%, 0.077) 0px, transparent 50%);
}

.dark .bg-image {
  background-color: hsla(228, 84%, 4%, 1);
  background-image: radial-gradient(at 88% 67%, hsla(266, 100%, 65%, 0.18) 0px, transparent 50%),
    radial-gradient(at 52% 0%, hsla(60, 100%, 50%, 0.05) 0px, transparent 50%),
    radial-gradient(at 85% 19%, hsla(296, 74%, 30%, 0.21) 0px, transparent 50%),
    radial-gradient(at 26% 64%, hsla(199, 62%, 48%, 0.19) 0px, transparent 50%);
}

.inner-glow {
  box-shadow: 0 2px 5px 2px #9999990f inset;
}